Source: kdewebkit
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: debhelper (>= 9.0.0), cmake, pkg-kde-tools,
 extra-cmake-modules, qtbase5-dev, libkf5i18n-dev,
 libkf5dbusaddons-dev, libkf5widgetsaddons-dev, libkf5coreaddons-dev,
 libkf5guiaddons-dev, libkf5service-dev, libkf5windowsystem-dev,
 libkf5itemviews-dev, libkf5configwidgets-dev, libkf5iconthemes-dev,
 libkf5solid-dev, libkf5completion-dev, libkf5textwidgets-dev,
 libkf5xmlgui-dev, libkf5bookmarks-dev, libkf5wallet-dev,
 libkf5notifications-dev, kf5-kio-dev, libkf5parts-dev,
 libqt5webkit5-dev, libkf5kjs-dev, libkf5config-dev, libkf5auth-dev,
 libkf5codecs-dev, libkf5sonnet-dev, libkf5globalaccel-dev,
 libkf5jobwidgets-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kdewebkit

Package: libkf5webkit-dev
Section: libdevel
Architecture: any
Depends: libkf5webkit5 (= ${binary:Version}), ${misc:Depends}
Description: development files for kdewebkit
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts). 
 .
 Contains development files for kdewebkit.
 
Package: libkf5webkit5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE Integration for QtWebKit.
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts).  

Package: libkf5webkit5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5webkit5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kdewebkit
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts). 
 .
 Contains debug symbols for kdewebkit.
