Source: kdewebkit
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.0.0),
               kio-dev (>= 5.0.0),
               libkf5attica-dev (>= 5.0.0),
               libkf5auth-dev (>= 5.0.0),
               libkf5bookmarks-dev (>= 5.0.0),
               libkf5codecs-dev (>= 5.0.0),
               libkf5completion-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5configwidgets-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5globalaccel-dev (>= 5.0.0),
               libkf5guiaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 5.0.0),
               libkf5iconthemes-dev (>= 5.0.0),
               libkf5itemviews-dev (>= 5.0.0),
               libkf5jobwidgets-dev (>= 5.0.0),
               libkf5kjs-dev (>= 5.0.0),
               libkf5notifications-dev (>= 5.0.0),
               libkf5parts-dev (>= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5solid-dev (>= 5.0.0),
               libkf5sonnet-dev (>= 5.0.0),
               libkf5textwidgets-dev (>= 5.0.0),
               libkf5wallet-dev (>= 5.0.0),
               libkf5widgetsaddons-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               libkf5xmlgui-dev (>= 5.0.0),
               libqt5webkit5-dev,
               pkg-kde-tools,
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kdewebkit

Package: libkf5webkit-dev
Section: libdevel
Architecture: any
Depends: libkf5webkit5 (= ${binary:Version}), libqt5webkit5-dev, ${misc:Depends}
Description: development files for kdewebkit
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts).
 .
 Contains development files for kdewebkit.

Package: libkf5webkit5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE Integration for QtWebKit.
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts).
Multi-Arch: same

Package: libkf5webkit5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5webkit5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for kdewebkit
 The kdewebkit library sits on top of QtWebKit,
 providing KDE integration for icons, shortcuts,
 network operation (KIO), cookie management using
 (KCookieJar) and component embedding (KParts).
 .
 Contains debug symbols for kdewebkit.
